<div class="container">
  <h1>Todo App</h1>
  <form action="/api/tasks" method="POST" class="new-task-form">
    <div class="input-field">
      <input
        type="text"
        name="task"
        id="task"
        class="task"
        placeholder="What's need to be done?"
      />
      <input type="submit" value="Add Task" id="submit-tasks" />
    </div>
  </form>
  <h4>{{title}}</h4>
  <ul>
    {{#each tasks}}
      <dev class="task-container">
        <li>{{this.text}}</li>
        <div class="buttons">
          <form
            id="myform{{this.id}}"
            method="post"
            action="/api/edit/{{this.id}}"
          ></form>
          <a
            onclick="document.getElementById('myform{{this.id}}').submit();"
            class="a-tags"
          >Edit</a>
          <form
            id="myDform{{this.id}}"
            method="post"
            action="/api/delete/{{this.id}}"
          ></form>
          <a
            onclick="document.getElementById('myDform{{this.id}}').submit();"
            class="a-tags"
          >Delete</a>
        </div>
      </dev>
    {{/each}}
  </ul>
</div>